body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: 35px;
    min-width: 320px;
    margin: 0;
    height: 0;
}

h1 {
    padding: 20px;

}

h2 {
     font-weight: 300;
}

img {
    width: 100%;
}
.main {

}

.main-nav {
    margin-top: 50px;


}

.main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #000;
    font-weight: 300;

    list-style: none;
    padding: 0;
    margin: 0;
}

.main-nav__item {
    text-align: center;
    width: 200px;
    font-size: 22px;


}

.main-nav__item a {
    padding: 20px;
    text-decoration: none;
    color: #000;
}

.main-nav__item a:hover {
    opacity: 0.7;
}

@media (min-width: 768px) {

}

.work {


}

.work__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;


}

.list__item {
    padding: 10px;
    position: relative;
    width: 320px;
}

.list__item span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,.5);
    background-size: 50px ;
    color: white;
    opacity: 0;
    transition: all .25s;

}

.list__item .list__item-link::before {
    top: 120px;
    left: 70px;

    position: absolute;
    content: "";
    width: 75px;
    height: 75px;
    background-image: url("../img/link.png");
    background-repeat: no-repeat;

    background-position: 0 0;
}

.list__item .list__item-git::before {
    top: 120px;
    left: 200px;

    position: absolute;
    content: "";
    width: 75px;
    height: 75px;
    background-image: url("../img/git.png");
    background-repeat: no-repeat;

    background-position: 0 0;
}
.list__item span:hover {
    opacity: 1;
}


